*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Eclipse
/.settings/
/.project
/.classpath

/target/
/output/
/test/output/
/bin/

# IntelliJ
/.idea/
*.iml

# Large files
#*.xml
#*.xml.gz
#*.tif
#*.osm
#*.osm.pbf

# Repo with input big files and final network
/inputs_network
/outputs_network/*.xml

.DS_Store


/src/main/java/org/matsim/population/input/population.xml
/src/main/java/org/matsim/population/input/combined_population.csv
/src/main/java/org/matsim/population/input/combined_population_active.csv
/src/main/java/org/matsim/population/output/population.xml.gz
/scenarios/brussels/population_all.xml.gz
/src/main/java/org/matsim/population/output/population_active.xml.gz
/output_cputreshold/ITERS/
/scenarios/brussels/population_active_10percent_sample.xml.gz
/scenarios/brussels/population_active_25percent_sample.xml.gz
/scenarios/brussels/population_active_cc_10percent_sample.xml.gz
/src/main/java/org/matsim/population/input/combined_population_active_1903.csv
/src/main/java/org/matsim/population/input/combined_population_active_company_car.csv
/scenarios/brussels/population_active_1903_10percent_sample.xml.gz


/output_*
/src/main/java/org/matsim/population/input/all_active_workers_final.csv
/scenarios/brussels/population_active_0904_5percent_sample.xml
/scenarios/brussels/population_active_0904_5percent_sample.xml.gz
/src/main/java/org/matsim/population/output/all_active_workers_final_0904.xml.gz
/src/main/java/org/matsim/population/output/population_active_0904_5percent_sample.xml.gz
/src/main/java/org/matsim/population/output/population_active_0904_1percent_sample.xml.gz
/scenarios/brussels/population_active_0904_1percent_sample.xml.gz
/scenarios/brussels/population_active_0904_1percent_sample.xml
/scenarios/brussels/population_active_0904_10percent_sample.xml.gz
/scenarios/brussels/001.30.plans.xml.gz
